.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 100vh;
}

.not-found-image {
  width: 450px;
  height: 400px;
}

.not-found-header {
  color: #ffffff;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 500;
}

.not-found-text {
  color: #7e858e;
  font-size: 16px;
  font-family: Roboto;
}
